body {
  margin: 0;
  font-family: Arial;
  background: #fff8f5;
  text-align: center;
}

section {
  padding: 50px 20px;
}

.hero {
  background: #f5e1da;
}

h1 {
  font-size: 48px;
  margin: 0;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

button {
  background: #b76e79;
  color: white;
  border: none;
  cursor: pointer;
}